.wp-block-gwwar-emoji-tasklist.is-selected .wp-block-gwwar-emoji-tasklist-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wp-block-gwwar-emoji-tasklist.is-selected .wp-block-gwwar-emoji-tasklist-checkbox {
  margin-top: -2px;
}

.wp-block-gwwar-emoji-tasklist.is-selected .wp-block-gwwar-emoji-tasklist-task {
  width: 100%;
}

.wp-block-gwwar-emoji-tasklist.is-selected textarea.wp-block-gwwar-emoji-tasklist-task:focus {
  outline: 0;
  border: 0;
  box-shadow: none;
}