.wp-block-gwwar-emoji-tasklist,
.edit-post-visual-editor .editor-block-list__block-edit .wp-block-gwwar-emoji-tasklist,
.wp-block-gwwar-emoji-tasklist .wp-block-gwwar-emoji-tasklist-item {
  list-style: none;
  margin: 0;
}

.wp-block-gwwar-emoji-tasklist.is-style-checkmark li::before {
  content: "📌";
}

.wp-block-gwwar-emoji-tasklist.is-style-checkmark li.is-completed::before {
  content: "✅";
}


.wp-block-gwwar-emoji-tasklist.is-style-sparkles li::before {
  content: "📦";
}

.wp-block-gwwar-emoji-tasklist.is-style-sparkles li.is-completed::before {
  content: "✨";
}

.wp-block-gwwar-emoji-tasklist.is-style-checkmark .wp-block-gwwar-emoji-tasklist-checkbox,
.wp-block-gwwar-emoji-tasklist.is-style-sparkles .wp-block-gwwar-emoji-tasklist-checkbox {
  display: none;
}